@model IEnumerable<LaundryApp.Models.LaundryGroup>

@*<script type="text/css" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</script>
<script type="text/css" src="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap.min.css">
</script>*@

@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}

<h2>Group Master</h2>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="editModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Laundry</h4>
                </div>
                <form action="~/LndyGroup/UpdateGroup" method="post">
                    <div class="modal-body">
                        <input type="hidden" name="GroupId" id="editGroupId" />
                        <div class="row">
                            <div class="col-md-1">
                                <label>Name</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="editGroupName" name="GroupName" width="140" required />
                            </div>
                            <div class="col-md-1">
                                <label>Code</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="editCode" name="Code" required/>
                            </div>
                        </div>
                        <div class="row" style="padding-top:20px;">
                            <div class="col-md-1">
                                <label>Status</label>
                            </div>
                            <div class="col-md-5">

                                @Html.DropDownList("editIsActive", new List<SelectListItem>
                   {
                     new SelectListItem { Text = "Active",   Value = "true" },
                     new SelectListItem { Text = "InActive", Value = "false" }
                   }, new { @class = "form-control", @required= "required" })
                            </div>
                            <div class="col-md-1">
                                <label>Color Code</label>
                            </div>
                            <div class="col-md-5">
                                <input type="color" value='#ff0000' class="form-control" id="editColorCode" name="ColorCode" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Update" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Laundry</h4>
                </div>
                <form action="~/LndyGroup/DeleteGroup" method="post">
                    <div class="modal-body">
                        <h4>Are you sure you want to delete the record?</h4>
                        <input type="hidden" name="deleteGroupId" id="deleteGroupId" />
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-danger" value="Delete" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div style="padding-bottom:20px;padding-top:20px;">
    <form action="~/LndyGroup/Group" method="post">
        <div class="row">
            <div class="col-md-2">
                <label>Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control"  name="GroupName" placeholder="Enter Group Name" required />
            </div>
            <div class="col-md-2">
                <label>Code</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="Code" placeholder="Enter Group Code" required />
            </div>
        </div>
        <div class="row" style="padding-top:20px;">
            <div class="col-md-2">
                <label>Status</label>
            </div>
            <div class="col-md-4">

          @Html.DropDownList("IsActive", new List<SelectListItem>
        {
                new SelectListItem { Text = "Active",   Value = "true" },
                new SelectListItem { Text = "InActive", Value = "false" }
       }, new { @class = "form-control", @required= "required" })
            </div>
            <div class="col-md-2">
                <label>Color Code</label>
            </div>
            <div class="col-md-4">
                <input   class="form-control" name="ColorCode" required type="color" value='#ff0000' />
            </div>
        </div>
        <div style="text-align:center;padding-top:30px;">
            <input type="submit" class="btn btn-success" value="Save Group" />
        </div>
        <hr />
    </form>
</div>

<table class="table table-condensed table-striped" id="table_id" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                   <div style="background-color:@item.ColorCode;height:10px;"></div>
                </td>
                <td>
                    @if (item.IsActive == true)
                    {
                        <span class="text-success">Active</span>
                    }
                    else
                    {
                        <span class="text-danger">InActive</span>
                    }
                </td>

                <td>
                    <a href="#" data-toggle="modal" data-target="#editModal" class="btn btn-info" onclick="getEditGroupId(@serializer.Serialize(item))">Edit</a>
                    <a href="#" data-toggle="modal" data-target="#deleteModal" class="btn btn-warning" onclick="getDeleteGroupId(@serializer.Serialize(item.GroupId))">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>

    function getEditGroupId(obj)
    {
        document.getElementById('editGroupId').value = obj.GroupId;
        document.getElementById('editGroupName').value =obj.GroupName;
        document.getElementById('editCode').value =obj.Code;
        document.getElementById('editColorCode').value = obj.ColorCode;
        document.getElementById('editIsActive').value = obj.IsActive;
    }
    function getDeleteGroupId(id)
    {
        document.getElementById('deleteGroupId').value = id;
    }
    
</script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">